@font-face {
  font-family: "bebas_neuelight";
  src: url("./bebas-neue/bebasneue-light-webfont.woff2") format("woff2"),
    url("./bebas-neue/bebasneue-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  text-align: center;

  h2 {
    font-family: "Bebas Neue";
    font-size: 45px;
    letter-spacing: 1px;
    padding-top: 6px;
  }

  h3 {
    font-family: "bebas_neuelight";
    font-size: 26px;
    letter-spacing: 1px;
  }

  p {
    font-size: 16px;
  }
}

#showcase {
  background-image: url(../../images/showcase_watersurface.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #transbox {
    height: 80%;
    max-height: 50vw;
    width: 80%;
    max-width: 150vh;
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: "bebas_neuelight";
      /* font-family: "Bebas Neue", cursive; */
      font-size: clamp(40px, 14vw, 190px);
      letter-spacing: 4px;
      color: #ffd6fc;
    }
  }
}

.navbar {
  background-color: black;
  overflow: hidden;
  height: 49px;

  #logo {
    float: left;
    height: 36px;
    width: 36px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 1vw;
  }

  a.scrolllink {
    font-family: "Open Sans";
    float: left;
    display: block;
    color: white;
    padding: 13px 14px;
    text-decoration: none;
    font-size: 17px;
    overflow-x: hidden;

    &:hover {
      background-color: #404040;
    }
  }

  a.extlink {
    float: right;
    margin-top: 6px;
    margin-right: 4px;
    overflow-x: visible;
  }

  #github {
    width: 37px;
    height: 36px;
    margin-right: 2vw;
  }

  #linkedin {
    width: 36px;
    height: 36px;
    margin-right: 6px;
  }
}

.greybox {
  background: #e8e8e8;
}

#awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .row {
    width: 65vw;
    min-width: 380px;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 30px;

    h3 {
      flex: 3;
      margin-top: 2px;
      margin-right: 45px;
    }

    p {
      flex: 8;
      text-align: left;
    }
  }
}

#contact {
  background: black;
  height: 120px;
  color: #cccccc;

  h3 {
    font-family: "Bebas Neue";
    font-size: 36px;
    letter-spacing: 1px;
    padding-top: 6px;
  }

  .contacticon {
    width: 50px;
    height: 50px;
    float: center;
  }
}
