* {
  margin: 0;
  padding: 0;
}

#showcase {
  background-image: url("../images/showcase_watersurface.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
