@font-face {
  font-family: "bebas_neuelight";
  src: url("./bebas-neue/bebasneue-light-webfont.woff2") format("woff2"),
    url("./bebas-neue/bebasneue-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

#showcase {
  background-image: url(../../images/showcase_watersurface.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #transbox {
    height: 80%;
    max-height: 50vw;
    width: 80%;
    max-width: 150vh;
    background-color: black;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: "bebas_neuelight";
      /* font-family: "Bebas Neue", cursive; */
      font-size: clamp(40px, 14vw, 190px);
      letter-spacing: 4px;
      color: #ffd6fc;
    }
  }
}
