@font-face {
  font-family: "bebas_neuelight";
  src: url("./bebas-neue/bebasneue-light-webfont.woff2") format("woff2"),
    url("./bebas-neue/bebasneue-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

#showcase {
  background-image: url(../../images/showcase_watersurface.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  h1 {
    font-family: "bebas_neuelight";
    font-size: 150px;
    color: white;
  }

  h3 {
    font-family: "Open Sans";
    font-size: 40px;
    color: whitesmoke;
  }
}
